{% set dsTRG = [
  { title: "The CCCs explained", url: "/trg/role-of-ccc" },
  { title: "Contacts", url: "/trg/contacts" },
  { title: "Data", url: "/trg/data" },
  { title: "Engineering", url: "/trg/engineering" },
  { title: "Enterprise Architecture", url: "/trg/EA" },
  { title: "Infrastructure", url: "/trg/infrastructure" },
  { title: "Security", url: "/trg/security" },
  { title: "Interoperability", url: "/trg/interop" },
  { title: "Service Management", url: "/trg/service-management" },
  { title: "Solution Assurance", url: "/trg/solution-assurance" },
  { title: "Usability", url: "/trg/usability" },
  { title: "Sustainability", url: "/trg/sustainability" }
] %}

{% set dsArchitecture = [
  { title: "Introduction", url: "/solution-architecture-framework" },
  { title: "Usage", url: "/solution-architecture-framework/usage" },
  { title: "Core Dimensions", url: "/solution-architecture-framework/core-dimensions" },
  { title: "Requirements", url: "/solution-architecture-framework/requirements" },
  { title: "Version History", url: "/solution-architecture-framework/saf-version-history" }
] %}

{% set dsSAFRequirements = [
  { title: "Strategic Alignment, Vision and Roadmap", url: "#S" },
  { title: "Decision Making & Governance", url: "#DM" },
  { title: "Solution Design & Methods", url: "#SD" },
  { title: "Technology Choices", url: "#T" },
  { title: "Non-Functional Profile", url: "#NF" },
  { title: "Reuse Principles and Development of Shared Services", url: "#RU" },
  { title: "Documentation", url: "#D" }
] %}

{% set dsSAFRequirementsS = [
  { title: "S01 - Executive Alignment", url: "/solution-architecture-framework/requirements/s/s01" },
  { title: "S02 - Capability Model", url: "/solution-architecture-framework/requirements/s/s02" },
  { title: "S03 - Product Vision and Roadmap", url: "/solution-architecture-framework/requirements/s/s03" },
  { title: "S04 - Meeting Needs", url: "/solution-architecture-framework/requirements/s/s04" }
] %}

{% set dsSAFRequirementsDM = [
  { title: "DM01 - Debt", url: "/solution-architecture-framework/requirements/dm/dm01" },
  { title: "DM02 - External Controls", url: "/solution-architecture-framework/requirements/dm/dm02" },
  { title: "DM03 - Risk and Issues", url: "/solution-architecture-framework/requirements/dm/dm03" },
  { title: "DM04 - Stakeholder Involvement", url: "/solution-architecture-framework/requirements/dm/dm04" },
  { title: "DM05 - Governance Process", url: "/solution-architecture-framework/requirements/dm/dm05" },
  { title: "DM06 - Governance Approach", url: "/solution-architecture-framework/requirements/dm/dm06" },
  { title: "DM07 - Decision Records", url: "/solution-architecture-framework/requirements/dm/dm07" },
  { title: "DM08 - Decision Making", url: "/solution-architecture-framework/requirements/dm/dm08" }
] %}

{% set dsSAFRequirementsSD = [
  { title: "SD01 - Design Methodology", url: "/solution-architecture-framework/requirements/sd/sd01" },
  { title: "SD02 - NHSE Principles", url: "/solution-architecture-framework/requirements/sd/sd02" },
  { title: "SD03 - Standards Compliance", url: "/solution-architecture-framework/requirements/sd/sd03" },
  { title: "SD04 - Good Practice", url: "/solution-architecture-framework/requirements/sd/sd04" },
  { title: "SD05 - Commodoties", url: "/solution-architecture-framework/requirements/sd/sd05" },
  { title: "SD06 - API First", url: "/solution-architecture-framework/requirements/sd/sd06" },
  { title: "SD07 - Equal Treatment", url: "/solution-architecture-framework/requirements/sd/sd07" },
  { title: "SD08 - Patterns", url: "/solution-architecture-framework/requirements/sd/sd08" },
  { title: "SD09 - Standards Selection", url: "/solution-architecture-framework/requirements/sd/sd09" },
  { title: "SD10 - API Lifecycle", url: "/solution-architecture-framework/requirements/sd/sd10" },
  { title: "SD11 - Policy Adherence", url: "/solution-architecture-framework/requirements/sd/sd11" },
  { title: "SD12 - Well Architected Framework", url: "/solution-architecture-framework/requirements/sd/sd12" }
] %}

{% set dsSAFRequirementsT = [
  { title: "T01 - Tech Radar", url: "/solution-architecture-framework/requirements/t/t01" },
  { title: "T02 - Appropriate Tech", url: "/solution-architecture-framework/requirements/t/t02" },
  { title: "T03 - Vendor Lock-in", url: "/solution-architecture-framework/requirements/t/t03" }
] %}

{% set dsSAFRequirementsNF = [
  { title: "NF01 - Observability", url: "/solution-architecture-framework/requirements/nf/nf01" },
  { title: "NF02 - Reliability & Resilience", url: "/solution-architecture-framework/requirements/nf/nf02" },
  { title: "NF03 - Volume & Performance Model", url: "/solution-architecture-framework/requirements/nf/nf03" },
  { title: "NF04 - Sustainability Measures", url: "/solution-architecture-framework/requirements/nf/nf04" },
  { title: "NF05 - Audit & Logging", url: "/solution-architecture-framework/requirements/nf/nf05" },
  { title: "NF06 - Disaster Recovery & Business Continuity", url: "/solution-architecture-framework/requirements/nf/nf06" }
] %}

{% set dsSAFRequirementsRU = [
  { title: "RU01 - Appropriateness", url: "/solution-architecture-framework/requirements/ru/ru01" },
  { title: "RU02 - Identification", url: "/solution-architecture-framework/requirements/ru/ru02" },
  { title: "RU03 - Required Reuse", url: "/solution-architecture-framework/requirements/ru/ru03" }
] %}

{% set dsSAFRequirementsD = [
  { title: "D01 - Document Storage", url: "/solution-architecture-framework/requirements/d/d01" },
  { title: "D02 - Open Publication", url: "/solution-architecture-framework/requirements/d/d02" },
  { title: "D03 - Document Scope", url: "/solution-architecture-framework/requirements/d/d03" }
] %}

{% set dsInformation = [
  { title: "Data", url: "/useful-information/data" },
  { title: "Platform and Infrastructure", url: "/useful-information/platform-and-infrastructure" },
  { title: "Interoperability", url: "/useful-information/interop" },
  { title: "Cloud", url: "/useful-information/cloud" },
  { title: "Usability and Accessibility", url: "https://service-manual.nhs.uk" },
  { title: "Technology Standards", url: "https://aalto.digital.nhs.uk/#/runView/?viewId=15bf84d2-5f93-41dc-a043-e9386806f918&library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0" },
  { title: "Capabilities", url: "https://aalto.digital.nhs.uk/#/search?noQuery=true&types=300&viewMode=1&library=5464c07f-daf1-4eee-b9b6-22e6c4dfbbd0" }

] %}

{% set dsOneArchitecture = [
  { title: "Introduction", url: "/one-architecture" }

] %}

{% set whatsNew = [
  { title: "Updates", url: "/whats-new/updates" },
  { title: "Blog posts", url: "/whats-new/blog-posts" },
  { title: "Show and tells", url: "/whats-new/show-and-tells" }
] %}

<nav class="app-side-nav">

  {%- if pageSection == "TRG"%}
    <h2 class="app-side-nav__heading">TRG</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsTRG %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

  {%- if pageSection == "Information"%}
    <h2 class="app-side-nav__heading">Useful Information</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsInformation %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}

    {%- if pageSection == "One Architecture"%}
    <h2 class="app-side-nav__heading">NHS One Architecture</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsOneArchitecture %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}


  {%- if subSection == "Solution Architecture Framework" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsArchitecture %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
    {%- if pageTitle == "Requirements" and item.title == "Requirements"%}
    {% for SAFitem in dsSAFRequirements %}
      <li class="app-side-nav__item{% if SAFitem.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ SAFitem.url }}">{{ SAFitem.title }}</a></li>
    {% endfor %}
    {% endif %}
       </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Strategic Alignment, Vision, and Roadmap" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsS %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Decision Making & Governance" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsDM %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Solution Design & Methods" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsSD %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Technology Choices" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsT %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Non-Functional Profile" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsNF %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Reuse Principles and Development of Shared Services" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsRU %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

{%- if subSection == "Solution Architecture Framework - Requirements - Documentation" %}
    <h2 class="app-side-nav__heading">Solution Architecture Framework</h2>
    <ul class="nhsuk-list app-side-nav__list">
    {% for item in dsSAFRequirementsD %}
      <li class="app-side-nav__item{% if item.title == pageTitle %} app-side-nav__item--current{% endif %}"><a class="app-side-nav__link" href="{{ item.url }}">{{ item.title }}</a>
       <ul class="app-side-nav__list app-side-nav__list--nested">
      </li> </ul>
    {% endfor %}
  </ul>
{% endif %}

</nav>
