{% set pageTitle = "S02 - Capability Model" %}
{% set pageSection = "Solution Architecture Framework - Requirements" %}
{% set subSection = "Requirements - Strategic Alignment, Vision, and Roadmap" %}
{% set pageDescription = "" %}
{% set beta = true %}
{% set hideContact = "false" %}
{% set dateUpdated = "07 August 2026 (SAF Version 1.1)" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "solution-architecture-framework/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}




{% endblock %}
