{% set pageTitle = "T03 - Vendor Lock-in" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "Solution Architecture Framework - Requirements - Technology Choices" %}
{% set pageDescription = "" %}
{% set beta = true %}
{% set hideContact = "false" %}
{% set dateUpdated = "07 August 2026 (SAF Version 1.1)" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "solution-architecture-framework/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}




{% endblock %}
