{% set pageTitle = "NF06 - Disaster Recovery & Business Continuity" %}
{% set pageSection = "Standards and technology" %}
{% set subSection = "SAF - Detailed - NF" %}
{% set pageDescription = "There should be clear requirements (commensurate with service levels) around DR & BC (and a pragmatic approach taken with regards DR/BC events planned for). Continuity plans and supporting documentation should reflect the requirements, technical & architecture constraints etc." %}
{% set beta = true %}
{% set hideContact = "false" %}
{% set dateUpdated = "07 August 2026 (SAF Version 1.1)" %}

{% extends "includes/app-layout.njk" %}

{% block breadcrumb %}
  {% include "solution-architecture-framework/_breadcrumb.njk" %}
{% endblock %}

{% block bodyContent %}



<p>There should be clear requirements (commensurate with service levels) around DR & BC (and a pragmatic approach taken with regards DR/BC events planned for).</p>

<p>Continuity plans and supporting documentation should reflect the requirements, technical & architecture constraints etc.</p>

<p>This is an extra line.</p>
  
<p></p>


{% endblock %}
